* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body,html {
  width: 100%;
  min-height: 100dvh;
  background: linear-gradient(30deg,#00a2ff,black,aqua,#b4b3b3,aqua,black,#00a2ff) no-repeat;
  /* background-attachment: fixed; */
}
*::-webkit-scrollbar {
  width: 15px;

}
*::-webkit-scrollbar-track {
  background: linear-gradient(#00a2ff,aqua);
}
*::-webkit-scrollbar-thumb {
  background-color: teal;
  border-radius: 5px;
}
