.catalogContainer{
    width: 100%;
    display: flex;
}
.catalogContent{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid red;
}
.extraFunctional{
    width: 100%;
    height: 30px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.warnText{
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 2px;
    color:black;
    text-shadow: 0 5px 10px white;
    margin: auto;
}