.catalogContainer{
    width: 100%;
    display: flex;
}
.catalogContent{
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    padding: 0 32px;
}
.catalogCards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0 50px;
}
.extraFunctional{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.warnText{
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 2px;
    color:black;
    text-shadow: 0 5px 10px white;
    margin: auto;
}