.appWrapper {
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.mainContainer{
  width: 100%;
  display: flex;
  flex: 1 1 auto;
  z-index: 100;
  padding: 0 50px;
  padding-bottom: 150px;
}
.footerContainer{
  width: 100%;
  height: 100px;
  color: white;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #201F2E;
  z-index: 10000;
}
