.mainContent{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.appPreview{
    max-width: 1440px;
    margin-left:150px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    border-radius: 50px;
    border: 1px solid black;
}