.cardCreatingContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 32px;
}
.firstSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.firstSectPreview{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    margin: 0 auto;
}
.imageWindow{
    width: 700px;
    height: 400px;
    padding: 10px;
    border: 5px groove teal;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(white,aqua 80%,green 99%);
}
.previewImg{
    max-width: 670px;
    max-height: 370px;
    border-radius: 10px;
    border: 5px groove teal;
}
.previewAddBlock{
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.previewAddFile{
    width: 200px;
    height: 35px;
    border: 3px solid black;
    border-radius: 20px;
    background: linear-gradient(30deg,black,lightgrey,black);
    color: black;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.2s;
}
.previewAddFile:hover{
    background: linear-gradient(grey,grey);
}
.previewFilesList{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.previewFileName{
    font-size: 18px;
    color: black;
    font-weight: 600;
}
.previewRemoveBtn{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: lightgrey;
    color: black;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    cursor: pointer;
}
.previewRemoveBtn:hover{
    background-color: darkslategrey;
    color: white;
}
.firstSectBotmBlock{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 26px;
    font-weight: 600;
    color: black;
    text-align: center;
}
.firstSectArea{
    margin: 0 auto;
    max-width: 950px;
    min-width: 800px;
    min-height: 300px;
    max-height: 350px;
    margin-top: 16px;
    border-radius: 10px;
    border: 6px groove black;
    background: linear-gradient(30deg,black,lightgrey,black);
    color: black;
    text-shadow: 0 0 5px white;
    font-size: 20px;
    padding: 5px;
}
.secondSection{
    display: flex;
    flex-direction: column;
}
.secondSectItem{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    font-size: 22px;
    color:black;
    font-weight: 600;
    padding-right: 125px;
    margin: 20px 0;
}
.secondSectInput{
    width: 350px;
    height: 35px;
    padding: 5px;
    color: black;
    text-shadow: 0 0px 5px white;
    border: 2px solid black;
    border-radius: 5px;
    background: linear-gradient(30deg,black,lightgrey,black);
    font-size: 18px;
    font-weight: 600;
}
.secondSectArea{
    min-width: 350px;
    max-width: 350px;
    max-height: 150px;
    min-height: 100px;
}
.selectOption{
    background-color: darkslategrey;
    font-size: 20px;
}
.submitBtn{
    width: 250px;
    height: 35px;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    background: linear-gradient(30deg,black,lightgrey,black);
    font-size: 22px;
    font-weight: 600;
    padding: 5px;
    cursor: pointer;
    transition: 0.5s;
}
.submitBtn:hover{
    background: linear-gradient(30deg,darkgrey,white,darkgrey);
    border-radius: 15px;
}
.errorReqText{
    width: 100%;
    font-size: 22px;
    font-weight: 600;
    color:red;
    text-shadow: 0 5px 5px black;
    text-align: center;
}
.successReqText{
    color:greenyellow
}