.headerContainer {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  padding: 32px
}
.headerLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
  color: black;
  height: min-content;
  filter:drop-shadow(0 0px 10px aqua)
}

.firstLogo {
  font-size: 40px;
  text-transform: uppercase;
}
.secondLogo {
  font-size: 28px;
  margin-left: 60px;
}
.botBorder{
  width: 0;
  height: 2px;
  background-color: teal;
  transition: 0.5s;
}
.headerLogo:hover>.botBorder {
  width:100%
}
.authedBlock{
  width: 300px;
  height: min-content;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  color: white;
  text-shadow: 0 5px 5px black;

}
.userBonuses{
  font-size: 16px;

}
.bonusesValue{
  width: min-content;
  height: min-content;
  font-size: 30px;
  filter:drop-shadow(0 0px 10px aqua)

}
.currentUser{
  font-size: 24px;
  filter:drop-shadow(0 0px 10px aqua)

}
.exitBtn{
  cursor: pointer;
  width: 35px;
  height: 35px;
  background-image: url('../../assets/icons/door-open-solid.svg');
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.2s;
  border: none;
  border-radius: 2px;
  filter:drop-shadow(0 0px 10px aqua)

}
.exitBtn:hover{
  filter:drop-shadow(0 5px 5px white)
}
.headerNav {
  width: 150px;
  display: flex;
  justify-content: space-around;
}
.headerNavItem {
  text-decoration: none;
  color: black;
  font-size: 14px;
  cursor: pointer;
  padding: 5px;
  transition: 0.2s;
  filter:drop-shadow(0 0px 2px aqua)

}
.headerNavItem:hover {
  text-shadow: 0 0 5px white, 0 0 10px teal, 0 0 15px white, 0 0 20px teal;
}
