.headerContainer {
  max-width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  padding: 32px
}
.headerLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
  color: black;
  height: min-content;
}
.headerLogo:hover {
  text-shadow: 0 0 10px teal,0 0 15px white, 0 0 20px teal;
}
.firstLogo {
  font-size: 30px;
  text-transform: uppercase;
}
.secondLogo {
  font-size: 18px;
  margin-left: 60px;
}
.headerNav {
  width: 150px;
  display: flex;
  justify-content: space-around;
}
.navItem {
  text-decoration: none;
  color: black;
  font-size: 14px;
  cursor: pointer;
  padding: 5px;
  transition: 0.2s;
}
.navItem:hover {
  text-shadow: 0 0 5px white, 0 0 10px teal, 0 0 15px white, 0 0 20px teal;
}
