.headerContainer {
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: space-between;
  padding: 16px 32px;
  position: sticky;
  top: 0;
  z-index: 10001;
  background: linear-gradient(#00a2ff 1%,#024d4d);
  border-bottom: 3px groove aqua;
}
.headerLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
  color: black;
  height: min-content;
  filter:drop-shadow(0 0px 10px aqua)
}

.firstLogo {
  font-size: 40px;
  text-transform: uppercase;
}
.secondLogo {
  font-size: 28px;
  margin-left: 60px;
}
.botBorder{
  width: 0;
  height: 2px;
  background-color: teal;
  transition: 0.5s;
}
.headerLogo:hover>.botBorder {
  width:100%
}
.goBackArrow{
  position: absolute;
  top: 140px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100px;
  border-radius: 5px;
  padding: 0 5px;
  cursor: pointer;
  transition: 0.2s;
}
.goBackArrow:hover{
  transform: scale(1.1);
}
.arrowText{
  position: absolute;
  left: 35px;
  top: -10px;
  transform: skewY(15deg);
  color: black;
  font-size: 18px;
  font-weight: 900;
  text-shadow:  3px 5px 3px teal;
  text-transform: uppercase;
}
.authedBlock{
  width: 300px;
  height: min-content;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  color: white;
  text-shadow: 0 5px 5px black;

}
.cartBlock{
  width:25px;
  display: flex;
  flex-direction: column;
}
.userShopCart{
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.imgBorder{
  width: 0;
  height: 2px;
  background-color: teal;
  transition: 0.5s;
}
.cartBlock:hover>.imgBorder {
  width:100%
}
.userBonuses{
  font-size: 16px;
}
.bonusesValue{
  width: min-content;
  height: min-content;
  font-size: 30px;
  filter:drop-shadow(0 0px 10px aqua)

}
.currentUser{
  font-size: 24px;
  filter:drop-shadow(0 0px 10px aqua)

}
.exitBtn{
  cursor: pointer;
  width: 35px;
  height: 35px;
  background-image: url('../../assets/icons/door-open-solid.svg');
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.2s;
  border: none;
  border-radius: 2px;
  filter:drop-shadow(0 0px 10px aqua)

}
.exitBtn:hover{
  filter:drop-shadow(0 5px 5px white)
}
.headerNav {
  width: 150px;
  display: flex;
  justify-content: space-around;
}
.headerNavItem {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  padding: 5px;
  transition: 0.2s;
  text-shadow:0 1px 7px aqua

}
.headerNavItem:hover {
  text-shadow: 0 0 5px white, 0 0 10px teal, 0 0 15px white, 0 0 20px teal;
}
